@font-face {
  font-family: 'Crash';
  src: url('Crasns.ttf') format('truetype');
}
body{
    font-family: Helvetica;
}
p{
    margin-bottom: 3em;
    padding-bottom: 0.3em;
    border-bottom: 2px solid rgb(27, 72, 224);
}
ul{
    padding: 0;
    margin-bottom: 3em;
}
li{
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.5em;
    font-size: 1.3em;
    list-style-type: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
button{
    font-size: 1em;
    padding: 0.5em 1em;
    background: rgb(27, 72, 224);
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.2s ease;
}
button:hover{
    background: rgb(14, 66, 169);
}
input{
    padding-left: 0.2em;
    font-size: 1.2em;
    border: 1px solid transparent;
    transition: border 0.25s ease;
}
input:hover{
    border-bottom: 1px solid grey;
}
.container{
    margin: 1em;
    max-width: 40em;
}
.student-score{
    width: 3em;
}
.student-grade{
    font-family: Crash;
    margin-left: 1em;
    font-size: 1.7em;
    border-bottom: 1px solid rgb(27, 72, 224);
}
